/* style.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://via.placeholder.com/1600x600?text=Mayour+Restaurant') center/cover no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #b8860b;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #9f7305;
    transform: translateY(-3px);
}

#confirmation {
    text-align: center;
    margin-top: 20px;
}